<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Cookie Eater</h1>
      <img src="https://image.flaticon.com/icons/png/128/164/164659.png" width="10%">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-m-6 billboard">
      <h2 class="text-center">Baked Cookies</h2>
      <ul class="list-group">
        {{#each cookies}}
          {{#unless this.devoured}}
            <li class="list-group-item">
              {{this.id}}. {{this.name}}
              <button class="modify-cookie btn cookie-mod" data-id="{{this.id}}" data-devoured="{{this.devoured}}" data-toggle="tooltip" data-placement="top" title="Modify Flavor"><i class="fas fa-pencil-alt modify"></i></button>
              <button class="devour-cookie btn cookie-mod" data-id="{{this.id}}" data-devoured="{{this.devoured}}" data-toggle="tooltip" data-placement="right" title="Eat Cookie"><i class="fas fa-cookie-bite devour"></i></button>
            </li>
          {{/unless}}
        {{/each}}
        <button id="modal-opener" type="button" class="btn" data-toggle="modal" data-target="#cookieModal"><span data-toggle="tooltip" data-placement="bottom" title="Add Cookies"><i class="fas fa-cookie"></i><i id="plus" class="fas fa-plus"></i></span></button>
      </ul>
    </div>  

    <div class="col-sm-12 col-m-6 billboard">
      <h2 class="text-center">Devoured Cookies</h2>
      <ul class="list-group">
        {{#each cookies}}
          {{#if this.devoured}}
            <li class="list-group-item">
              {{this.id}}. {{this.name}} <button class="delete-cookie btn cookie-mod" data-id="{{this.id}}" data-devoured="{{this.devoured}}" data-toggle="tooltip" data-placement="right" title="Delete Cookie"><i class="fas fa-trash-alt"></i></button>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>    
</div>  

<!-- Modal -->
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cookieModalTitle">Create New Batch</h5>
        <button id="exit" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
      <div class="modal-body">
        <form class="cookie-form" autocomplete="off">
          <div class="form-group">
            <label for="flavor">Flavor:</label>
            <input type="text" id="flavor" name="flavor">
          </div>
        </form>
      </div>
      <hr>
      <div class="modal-footer">
        <button type="button" class="btn btn-success cookie-submission">Create</button>
      </div>
    </div>
  </div>
</div>